<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>顧客登録</title>
</head>
<body>
<h1>顧客登録</h1>
<form th:action="@{/create}" th:object="${studentForm}" method="post">
  <table>
    <tr>
      <th>firstname</th>
      <!-- ポイント1 -->
      <td><input type="text" name="firstname" th:field="*{firstname}"><span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span></td>
    </tr>
    <tr>
      <th>lastname</th>
      <!-- ポイント1 -->
      <td><input type="text" name="lastname" th:field="*{lastname}"><span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span></td>
    </tr>
    <tr>
      <th>email</th>
      <td><input type="text" name="email" th:field="*{email}"><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></td>
    </tr>
    <tr>
      <th>phone number</th>
      <td><input type="text" name="phone" th:field="*{phone}"><span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span></td>
    </tr>
    <tr>
      <th>age</th>
      <td><input type="text" name="age" th:field="*{age}"><span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span></td>
    </tr>
  </table>
  <input type="submit" value="登録">
</form>
</body>
</html>