<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <title>顧客一覧</title>
</head>
<body>
<div class="container">
    <div class="my-5">
        <a class="btn btn-primary" th:href="@{/create}">顧客登録</a>
    </div>
    <hr>
    <h1 class="my-2">顧客一覧</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>email</th>
            <th>phone</th>
            <th>age</th>
            <!-- 追記1 -->
            <!-- ポイント1 -->
            <th colspan="2">編集</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phone}"></td>
            <td th:text="${student.age}"></td>
            <!-- 追記2 -->
            <td>
                <form th:action="@{/edit}" method="post">
                    <input type="submit" class="btn btn-outline-primary" name="edit" value="編集">
                    <!-- ポイント1 -->
                    <input type="hidden" name="id" th:value="${student.id}">
                </form>
            </td>
            <td>
                <form th:action="@{/edit}" method="post">
                    <input type="submit" class="btn btn-outline-danger" name="delete" value="削除">
                    <input type="hidden" name="id" th:value="${student.id}">
                </form>
            </td>
        </tr>
    </table>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>